.card {
    .row.title {
        color      : #0c3d69;
        font-weight: 700;
    }
}

.importFormulaLayout {
    display  : flex;
    gap      : 2rem;
    flex-wrap: wrap;

    .leftSection {
        max-width: 40vw;
        min-width: 350px;
    }

}

.importFormulaLayout.mobileLayout {
    margin-bottom: 5rem;

    .sectionHeader {
        padding-inline: 1rem;
    }

    .leftSection {
        max-width: 100vw;
        width    : 100vw;
    }
}

.disabledDropzone {
    opacity       : .35;
    pointer-events: none;
}