.card.sendEmailCard {
    display       : flex;
    flex-direction: row;

    .sendEmailCardColumn {
        display       : flex;
        position      : relative;
        flex-direction: column;
        gap           : 1rem;

        button {
            position: absolute;
            bottom  : .7em;
            right   : .5rem;
        }

        button:first-of-type {
            right: 6rem;
        }
    }

    .sendEmailCardColumn:nth-of-type(1) {
        margin-right: 1rem;
        flex        : 2;
    }

    .sendEmailCardColumn:nth-of-type(2) {
        margin-right: 1rem;
        flex        : 1;
        text-align  : right;
    }

    .sendEmailCardColumn:nth-of-type(3) {
        flex: 4;
    }

    ul {
        list-style: none;
        flex      : 1;
    }

    li {
        span:first-child {
            margin-right: 2rem;
        }
    }

    // textarea {
    //     border-radius: 1rem;
    //     outline      : none;
    //     border       : none;
    //     resize       : none;
    //     border       : solid 1px;
    //     width        : 100% !important;
    // }

    // textarea {
    //     height: 100%;
    // }

    .emailRecipientsContainer {
        max-height: 13vh;
        overflow  : scroll;
    }
}