@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family            : "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-rendering         : optimizeLegibility;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color       : #e2edf6;
}

* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

body {
  display            : flex;
  // min-height      : 100vh;
}

a {
  display        : contents;
  text-decoration: none;
  color          : inherit;
}

.card {
  display         : flex;
  flex-direction  : column;
  flex-grow       : 1;
  padding         : 1.4rem 2rem;
  width           : 100%;
  background-color: white;
  border-radius   : 2rem;

  .row {
    display      : flex;
    margin-bottom: 1rem;
  }

  .dropdownAndLabelRow {
    display        : flex;
    justify-content: space-between;
    margin-bottom  : 1rem;
  }
}

.sectionHeader {
  display        : flex;
  justify-content: space-between;
  margin-bottom  : 1rem;
  font-weight    : bold;
  align-items    : center;
  flex-wrap      : wrap;
  gap            : 1rem;
}

.swatchesComponentContainer {
  display      : flex;
  flex-grow    : 1;
  // height    : 0;
  overflow-y   : scroll;
}