.formulaPercentagesGraphContainer {
    display            : flex;
    margin-bottom      : 1rem;
    // background-color: cadetblue;
    height             : 2rem;
    width              : 100%;
    border-radius      : 2rem;

    span {
        padding    : 0 1rem;
        border     : 1px solid rgba(0, 0, 0, 0.14);
        display    : grid;
        place-items: center;
    }

    span:first-of-type {
        border-top-left-radius   : 2rem;
        border-bottom-left-radius: 2rem;
    }

    span:last-of-type {
        border-top-right-radius   : 2rem;
        border-bottom-right-radius: 2rem;
    }
}