#myVideo {
    position  : fixed;
    z-index   : 0;
    top       : 50%;
    transform : translateY(-50%);
    left      : 0;
    min-width : 100%;
    min-height: 100%;
    object-fit: fill;
}

// body {
//     justify-content: center;
//     align-items    : center;
// }

.backgroundColor {
    background-color: #cad4cf;
    z-index         : -1;
    position        : absolute;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 100%;
}

.bodyBlur {
    z-index        : 1;
    position       : absolute;
    top            : 0;
    left           : 0;
    backdrop-filter: blur(28px);
    width          : 100%;
    height         : 100%;
}

.loginFormCard {
    z-index            : 2;
    position           : absolute;
    top                : 50%;
    left               : 50%;
    transform          : translate3d(-50%, -50%, 0);
    padding            : 1rem;
    // box-sizing      : border-box;
    width              : 28rem;
    background-color   : #0c3d69;
    color              : whitesmoke;
    text-align         : center;
    border-radius      : 3rem;
    box-shadow         : 7px 7px 21px #00000049;
    transition         : .3s;

    img {
        margin: 2rem;
        width : 14rem;
    }

    .inputContainer {
        position        : relative;
        // width        : 84%;
        margin-left     : auto;
        margin-right    : auto;
        margin-bottom   : 1.4rem;

        input {
            width        : 100%;
            height       : 3rem;
            outline      : none;
            border       : none;
            border-radius: 3rem;
            padding      : 1rem 3rem 1rem 1rem;
            color        : #0c3d69;
            font-weight  : bold;
        }

        input::placeholder {
            color      : #0c3d69;
            font-weight: bold;
            opacity    : .91;
        }

        .icon {
            position : absolute;
            right    : 1rem;
            top      : 50%;
            transform: translateY(-50%);
            color    : #0c3d69;
        }

        .icon.eyeIcons {
            right : 3rem;
            cursor: pointer;
        }
    }

    button {
        // display         : block;
        // margin          : 1rem auto 1rem auto;
        margin-bottom      : 1rem;
        // width           : 63%;
        // height          : 3rem;
        border-radius      : 3rem;
        // border          : none;
        // font-size       : 1rem;
        // cursor          : pointer;
        background-color   : #ffffff49;
        color              : white;
        transition         : .3s;
    }

    button.newAccount {

        background-color: #ffffff;
        color           : #0c3d69;
    }

    button:hover {
        border-radius: .1rem;
    }

    .forgotPassword {
        margin: 2rem auto 1rem auto;
        width : fit-content;
        cursor: pointer;
    }

    .loginFormMessage {
        height    : 0;
        overflow  : hidden;
        transition: .3s;
    }

    .loginFormMessage.active {
        height: 2rem;
    }

}

.loginFormCard:hover {
    box-shadow: 7px 7px 28px #00000070;

}