.miniSwatch {
  display            : flex;
  // margin          : auto;
  border-radius      : .25rem;
  min-height         : 1.4rem;
  min-width          : 1.4rem;
  max-height         : 1.4rem;
  max-width          : 1.4rem;
  // background-color: plum;
  border             : 1px solid #00000028;
}