.passwordResetMainContainer {
    display: flex;
    width  : 100vw;
    height : 100vh;

    .card {
        gap      : 1rem;
        width    : 21rem;
        max-width: 350px;
        min-width: 350px;
    }

}