.adminDashboardLayout {
    display       : flex;
    flex-direction: column;
    width         : 100%;
    gap           : 1rem;

    .card {
        min-height: 14rem;
    }
}

.adminDashboardLayout.mobileLayout {
    margin-bottom: 5rem;

    .sectionHeader {
        padding-inline: 1rem;
    }
}

.topSectionContainer {
    display          : flex;
    flex-direction   : column;
    // flex          : 2;
}

.bottomSectionContainer {
    display       : flex;
    flex-direction: row;
    flex          : 1;
    gap           : 2rem;
    flex-wrap     : wrap;

    .bottomHalf {
        display       : flex;
        flex-direction: column;
        flex          : 1;

        min-width: 350px;
    }

}