.adminDashboardLayout {
    display       : flex;
    flex-direction: column;
    width         : 100%;
    gap           : 1rem;

    .card {
        min-height: 14rem;
    }
}

.topSectionContainer {
    display       : flex;
    flex-direction: column;
    flex          : 2;
}

.bottomSectionContainer {
    display          : flex;
    flex-direction   : row;
    flex             : 1;
    // gap           : 2rem;

    .bottomHalf {
        display       : flex;
        flex-direction: column;
        flex          : 1;
    }

    .bottomHalf:first-of-type {
        margin-right: 2rem;
    }
}