.headerContainer {
    display         : flex;
    flex-direction  : column;
    position        : relative;
    padding         : .7rem 3rem;
    background-color: #1a242d;
    color           : white;
    width           : 100vw;
    height          : 3.5rem;

    .logoAndNavbar {
        display           : flex;
        // justify-content: space-between;
        height            : 100%;

        .logo {
            height      : 100%;
            width       : auto;
            margin-right: 3rem;
        }

        ul {
            display      : flex;
            gap          : 2rem;
            // margin    : 0 auto 0 0;
            padding      : 0;
            list-style   : none;

            li {
                text-underline-offset: .5rem;
            }

        }

        .email {
            margin-left : auto;
            margin-right: 1rem;
        }

        .company {
            opacity     : .49;
            margin-right: 3rem;
        }

        .logout {
            color : indianred;
            cursor: pointer;
        }

    }

    .spectrumBar {
        position: absolute;
        bottom  : 0;
        left    : 0;
        width   : 100%;
    }
}