.formulaPageLayout {
    display  : flex;
    flex-wrap: wrap;
    gap      : 2rem;

    .leftSide {
        display          : flex;
        flex-direction   : column;
        flex             : 1;
        // height        : 100%;

        .swatchesComponentContainer {

            .swatchesContainer {
                max-height: 55vh;
            }
        }

    }

    .rightSide {
        flex: 1;

        .formulaDetailsSection {
            display       : flex;
            flex-direction: column;

            .buttonsAndTotalRow {
                display           : flex;
                margin-top        : auto;
                // justify-content: space-between;
                flex-wrap         : wrap;

                .buttonsContainer {
                    gap      : 1rem;
                    display  : flex;
                    flex-wrap: wrap;

                    button {
                        margin-right: 2rem;
                    }

                    span {
                        margin-left: auto;
                    }
                }
            }
        }

        .similarFormulasSection {
            display       : flex;
            flex-direction: column;
            flex          : 1;

            .swatchesComponentContainer {
                display   : flex;
                flex-grow : 1;
                overflow-y: scroll;
            }
        }
    }
}

.formulaPageLayout.mobileLayout {

    .leftSide {

        .swatchesComponentContainer {
            // max-height: 10vh;
            // max-height: 100px;

            .swatchesContainer {
                max-height: 40vh;
            }
        }

    }
}



.dropdownAndLabelRow {
    display: flex;
    gap    : 1rem;

    label {
        flex     : 1;
        margin   : auto;
        min-width: fit-content;
    }

    .selectContainer {
        flex: 4;
    }
}

.searchBarRow {
    position     : relative;
    margin-bottom: 1rem;

    input[type=text] {
        margin-left  : auto;
        border       : 2px solid #00000021;
        border-radius: 3rem;
        padding      : 0 1rem;
        width        : 100%;
        height       : 2.5rem;

    }

    svg {
        position  : absolute;
        top       : 50%;
        transform : translateY(-50%);
        right     : 1rem;
        cursor    : pointer;
        color     : #00000049;
        transition: .3s;
    }

    svg:hover {
        color: #000000;
    }
}

.checkboxRow {
    display           : flex;
    // justify-content: space-between;
    margin-bottom     : 1rem;
    flex-wrap         : wrap;
    gap               : 1rem;
}

.quantityInput {
    width           : 7rem;
    border-bottom   : 2px solid #00000049;
    background-color: unset;
}