.formulaPageLayout {
    display  : flex;
    flex-wrap: wrap;
    gap      : 2rem;
    width    : 100%;

    .leftSide {
        display          : flex;
        flex-direction   : column;
        flex             : 1;
        // height        : 100%;

        .swatchesComponentContainer {

            .swatchesContainer {
                max-height: 55vh;
            }
        }

    }

    .rightSide {
        flex: 1;

        .formulaDetailsSection {
            display       : flex;
            flex-direction: column;

            .buttonsAndTotalRow {
                display        : flex;
                flex-wrap      : wrap;
                gap            : 1rem;
                justify-content: end;
                align-items    : center;
            }
        }

        .similarFormulasSection {
            display       : flex;
            flex-direction: column;
            flex          : 1;

            .swatchesComponentContainer {
                display      : flex;
                // flex-grow : 1;
                overflow-y   : scroll;
            }
        }
    }
}

.formulaPageLayout.mobileLayout {
    margin-bottom: 5rem;

    .sectionHeader {
        padding-inline: 1rem;
    }

    .leftSide {

        .swatchesComponentContainer {
            // max-height: 10vh;
            // max-height: 100px;

            .swatchesContainer {
                max-height: 40vh;
            }
        }

    }
}



.dropdownAndLabelRow {
    display: flex;
    gap    : 1rem;

    label {
        flex     : 1;
        margin   : auto;
        min-width: fit-content;
    }

    .selectContainer {
        flex: 4;
    }
}

.searchBarRow {
    position     : relative;
    margin-bottom: 1rem;

    svg {
        position  : absolute;
        top       : 50%;
        transform : translateY(-50%);
        right     : 1rem;
        cursor    : pointer;
        color     : #00000049;
        transition: .3s;
    }

    svg:hover {
        color: #000000;
    }
}

.checkboxRow {
    margin-bottom: 1rem;
    flex-wrap    : wrap;
    gap          : 1rem;
}

.quantityInput {
    width           : 7rem;
    border-bottom   : 2px solid #00000049;
    background-color: unset;
}

#divToPrint {
    position         : absolute;
    top           : -1000px;
    // top              : 50%;
    // left             : 50%;
    // transform        : translate3d(-50%, -50%, 0);
    z-index          : 9;
}

.printFormulaTemplate {
    display                  : flex;
    flex-direction           : column;
    // align-items           : space-between;
    // justify-content    : space-between;
    background-color         : white;
    border                   : 2px dashed black;
    height                   : 100px;

    .templateHeader {
        display    : flex;
        align-items: center;

        p {
            font-weight: 600;
        }

        .miniSwatch {
            min-width: 3rem;
            max-width: 3rem;
        }
    }
}

.printFormulaTemplate.size1 {
    width  : 6in;
    height : 4in;
    padding: 1rem 2rem;

    .templateHeader {
        gap          : 1.4rem;
        margin-bottom: 1.4rem;

        img {
            width : 35px;
            height: 35px;

            margin-bottom: -1rem;
        }

        .miniSwatch {
            margin-bottom: -1rem;
        }
    }
}

.printFormulaTemplate.size2 {
    width    : 3in;
    height   : 2in;
    padding  : .75rem 1rem;
    font-size: .5rem;

    .templateHeader {
        gap          : .75rem;
        margin-bottom: .5rem;

        img {
            width : 16px;
            height: auto;

            margin-bottom: -.5rem;
        }

        .miniSwatch {
            min-width : 1rem;
            max-width : 1rem;
            min-height: .75rem;
            max-height: .75rem;

            margin-bottom: -.5rem;
        }
    }

    th {
        text-align: start;
    }

    th,
    td {
        padding: .15rem;
    }
}

.printFormulaTemplate.size3 {
    width : 2in;
    height: 1.3in;

    padding  : .25rem;
    font-size: .3rem;

    .templateHeader {
        gap          : .75rem;
        margin-bottom: .2rem;

        img {
            width : 10px;
            height: auto;

            margin-bottom: -.35rem;
        }

        .miniSwatch {
            min-width : .75rem;
            max-width : .75rem;
            min-height: .5rem;
            max-height: .5rem;

            margin-bottom: -.35rem;
        }
    }

    th {
        text-align: start;
    }

    th,
    td {
        padding: .1rem;
    }
}